@using LabelCastWeb.Models;
@using Newtonsoft.Json;
@model LabelStructure;


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/labels.css" />
    <link rel="stylesheet" href="~/css/custom-select.css" />
</head>
<body>

    <div class="entry">

        <header>
            <div class="logogroup">
                <img src="~/img/barcode2.png" title="applogo" />
                <div class="logo">LabelCast</div>
            </div>
            <div id="apptitle">
                <div class="heading">Data Entry</div>
                <select name="profile">
                    @foreach (String name in Model.ProfileList)
                    {
                        <option value="@name" @(name == Model.ActiveProfile ? "selected" : "")>  @name  </option>
                    }
                </select>
            </div>

            <div class="printers">
                <select name="printer">
                    @foreach (String name in Model.PrinterList)
                    {
                        <option value="@name" @(name == Model.ActivePrinter ? "selected" : "")>  @name  </option>
                    }
                </select>
            </div>
        </header>

        <form autocomplete="off">
            <table class="entryTable">
                @for (int i = 0; i < @Model.EntryTable.Rows.Count; i++)
                {
                    String colID = "col" + i.ToString();
                    String varName = Model.EntryTable.Rows[i][0].ToString() ?? "";
                    String value = Model.EntryTable.Rows[i][1].ToString() ?? "";
                    <tr>
                        <td class="col1">@Model.EntryTable.Rows[i][0].ToString()</td>
                        <td class="col2"><input type="text" id="@colID" name="@varName" value="@value" /></td>
                    </tr>
                }
            </table>

            <div id="errorLabel"></div>
            <div id="msgLabel">@Model.PageMessage</div>

            <div class="btngroup">
                <button type="button" id="btnPrint">PRINT</button>
            </div>

        </form>

        <div id="overlay"></div>

    </div>

    <div id="debug">
        <div id="debugStatus"></div>
        <div id="debugMsg"></div>
    </div>

    <script>
        mDescriptor = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.LabelDescriptor))');
    </script>
    <script src="~/js/labelentry.js"></script>

</body>
</html>